layout {
    tab name="agent-ebpf-dev" {
        pane split_direction="horizontal" {
            pane command="__BACKEND_LAUNCHER__"
            pane command="__FRONTEND_LAUNCHER__"
        }
    }
}
